<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form method="post" action="{{ path('app_producto_search') }}">
        <input type="text" name="textoBuscado" id="textobuscado1">
        <button class="btn"><img src="{{ asset('images/lupa_barra_busqueda.jpg') }}" alt="Foto lupa" class="mini-imagen"/></button>
    </form>
  </div>
</nav>