

<nav class="navbar navbar-light bg-light ">
  <form class="form-search content-search navbar-form container-fluid " action="{{ path('app_producto_search') }}" method="post">
    <div class="input-group">
      
      <input type="text" class="form-control form-text input-barra-busqueda" name="textoBuscado" placeholder="Buscar"  aria-describedby="basic-addon1">
      <span class="input-group-text" id="basic-addon1">
       <button type="submit" class="btn">&#128270;
</button></span>
    </div>
  </form>
</nav>