{% extends 'base.html.twig' %}

{% block title %}New Producto{% endblock %}

{% block body %}
<img id="anuncio_2" src="../../images/anuncio_l.jpg"/>
<img id="anuncio_2_b" src="../../images/anuncio_l.jpg"/>
    <div class="container contenedor">
        <div class="row">
            <div class="col-xs-12">
                <h1>Crear nuevo producto</h1>
                {{ include('producto/_form.html.twig') }}
            </div>
        </div>
    </div>
   {#<a href="{{ path('app_producto_index') }}">back to list</a>#} 
{% endblock %}
