{% extends 'base.html.twig' %}

{% block title %}Politica de Privacidad{% endblock %}

{% block body %}
     <div class="container my-5">
        <h1 class="mb-4">Política de Privacidad</h1>
        <p>En esta política de privacidad, describimos cómo recopilamos, utilizamos y compartimos información personal sobre ti cuando visitas nuestro sitio web.</p>

        <h2>Información que Recopilamos</h2>
        <p>Recopilamos información personal sobre ti cuando interactúas con nuestro sitio web. Esta información puede incluir tu nombre, dirección de correo electrónico, información de contacto y otra información que nos proporciones voluntariamente.</p>

        <h2>Uso de la Información</h2>
        <p>Utilizamos la información personal que recopilamos para proporcionarte los productos y servicios que solicitas, para mejorar nuestro sitio web y para comunicarnos contigo sobre nuestras ofertas y promociones.</p>

        <h2>Compartición de la Información</h2>
        <p>No compartimos tu información personal con terceros sin tu consentimiento, excepto en las circunstancias limitadas descritas en nuestra política de privacidad completa.</p>

        <h2>Seguridad de la Información</h2>
        <p>Tomamos medidas de seguridad razonables para proteger la información personal que recopilamos y mantenemos. Sin embargo, no podemos garantizar la seguridad de la información transmitida a través de Internet.</p>

        <h2>Actualizaciones a Nuestra Política de Privacidad</h2>
        <p>Podemos actualizar esta política de privacidad de vez en cuando. Te recomendamos que revises esta política periódicamente para estar al tanto de cualquier cambio que se haya realizado.</p>

        <h2>Obtener más información</h2>
        <p>Si tienes alguna pregunta sobre nuestra política de privacidad o sobre cómo utilizamos la información personal en nuestro sitio web, no dudes en ponerte en contacto con nosotros a través de los datos de contacto proporcionados en nuestro sitio web.</p>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}