<form method="post" action="{{ path('app_item_delete', {'id': pedido.id,'id_item': item.id}) }}" onsubmit="return confirm('¿Seguro que quieres eliminar este producto del pedido?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pedido.id) }}">
    <button class="btn">Sacar del pedido</button>
</form>
